body{
   
    background-color: #00BFA6;
}
.navbar{
    background-color: #00BFA6;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.acard{
    text-decoration: none !important;
    color:blue;
    font-weight: 500;
}
body{
    overflow-x: hidden !important;
}
button:hover{
    background-color:#F9A826!important ;
   
}

.btn a{
     color:black;
}
.contact{
    border-left: 5px solid #0d0c0b ;
    border-bottom: 5px solid #1b1a18 ;
    padding-bottom: 10px !important;
}
