
.navbar{
    background-color: #9792E8;
    margin-bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.acard{
    text-decoration: none !important;
    color:blue;
    font-weight: 500;
}
body{
    overflow-x: hidden !important;
}
button:hover{
    background-color: #a3a0d3b5 !important;
   color: aliceblue !important;
}
a.btn{
   color: aliceblue !important;
}

/* .btn a{
     color:black;
} */
.contact{
    border-left: 5px solid #0d0c0b ;
    border-bottom: 5px solid #1b1a18 ;
    padding-bottom: 10px !important;
}
.card1{
    width: 100%;
    height: 100% !important;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%  {background-color: rgba(111, 111, 235, 0.521);}
    15%  {background-color: rgba(118, 181, 233, 0.584);}
    30%  {background-color: rgba(111, 111, 235, 0.521);}
    45% {background-color: rgba(129, 230, 129, 0.595);}
    60%  {background-color: rgba(111, 111, 235, 0.521);}
    100% {background-color: rgba(118, 181, 233, 0.584);}
  }