body{
    background-color: #9692e884 !important;
}
.navbar{
    background-color: #9792E8;
    margin-bottom: 60px !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
a{
    text-decoration: none;
}

.btn a{
    color:black;
}

.contact{
    border-left: 5px solid #0d0c0b ;
    border-bottom: 5px solid #1b1a18 ;
}
/* Bordered form */
form {
    width:100%;
    padding: 60px;
    border: 1px solid #f1f1f1;
    margin-top: 30px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 40px;
    font-weight: bold;
    margin: 8px 0;
    display: inline-block;
    border-radius: 12px;
    border: 3px solid #9792E8 ;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #9692e8ad;
    color: white;
    padding: 14px 30px;
    border-radius: 12px;
    margin: 8px 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #9792E8;
    font-weight: bold;
    border: 3px solid #9792E8 ;
}
input[type=text]:hover {
    font-weight: bold;
    border: 3px solid #9792E8 ;
}
.authent{
    color: #444171;
}