body{
    background:#00bfa63e !important;
}
.navbar{
    background-color: #00BFA6;
    margin-bottom: 60px !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
button:hover{
    background-color:#F9A826!important ;

}
a{
    text-decoration: none;
}

.btn a{
    color:black;
}

.contact{
    border-left: 5px solid #0d0c0b ;
    border-bottom: 5px solid #1b1a18 ;
}
/* Bordered form */
form {
    width:100%;
    padding: 60px;
    border: 1px solid #f1f1f1;
    margin-top: 30px ;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/* #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
} */

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 40px;
    font-weight: bold;
    margin: 8px 0;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #F9A826;
    color: white;
    padding: 14px 30px;
    border-radius: 12px;
    margin: 8px 0;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #F9A826;
    font-weight: bold;
    border: 2px solid #F9A826;
}